* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
}

.container {
  max-width: 20em;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 1em;
  margin: 1em;
}

.grid__layout {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.fake-gap {
  background-color: transparent;
  box-shadow: none;
}

.container__card {
  display: none;
}

@media (min-width: 768px) {
  .grid__layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .fake-gap {
    margin: 0;
    padding: 0;
  }

  .fake-aside {
    grid-row: 2/3;
  }

  .container__card {
    display: block;
    height: 100em;
    width: 480px;
    overflow-x: hidden;
    padding-inline-start: 0;
    grid-column: 2/3;
    grid-row: 1/3;
  }

}

@media (min-width: 1333px) {
  .grid__layout {
    grid-template-columns: repeat(3, 1fr);
  }

  .fake-aside {
    grid-row: unset;
  } 
  
  .container__card {
    /* border: 1px solid red; */
    height: 50em;
    /* max-width: 100%; */
    width: 680px;
    overflow-x: hidden;
    grid-column: unset;
    grid-row: unset;
  }
}